# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.log

# Database files
*.db
*.sqlite3

# OS specific files
.DS_Store
Thumbs.db

# History files
.history/

# Node modules
node_modules/

# Environment files
.env
